body{background-color:rgb(255, 255, 255);font:400 1em/1.38 Helvetica;color:rgb(0, 0, 0);}

.image{display:block;float:left;width:48.7804878048%;height:auto;overflow:hidden;}

.menu{position:absolute;top:30px;left:10%;z-index:6;width:5.19921875%;height:49px;}

.text{font-size:1em;text-align:center;color:rgb(0, 0, 0);}

._button{display:block;float:left;width:99.0327380952%;border-radius:3px;background-color:rgb(222, 222, 222);font-size:1em;text-align:center;color:rgb(0, 0, 0);}

.container-1{position:absolute;top:30px;left:10%;z-index:2;width:5.19921875%;height:49px;}

.container-2{position:relative;float:left;clear:both;z-index:3;width:41%;height:320px;margin:8px 0 0 29.47917%;}

.image-2{margin-left:2.43585%;}

.text-1{float:left;width:20.4166666666%;min-height:20px;margin-left:39.79167%;text-shadow:1px 1px 5px rgba(0, 0, 0, .5);}

.text-2{margin:25px auto 0;}

.container ._button-4,.menu ._button-2{clear:both;margin-top:5px;}